* {
    border-style: none;
    outline: none;
} 

body {
    width: 100vw;
    height: 100vh;
    font-size: 3rem;
}

.container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.container--form {
    margin: 0 auto;
    min-width: 800px;
    padding-top: 20rem;
    margin: 2rem 0 0 0;
    justify-content: center;
}

.search-field {
    font-size: inherit;
    width: 10em;
}

.icon-button {
    width: 4rem;
}

.icon-button:first-child {
    border-radius: 5px 0 0 5px;
}

.icon-button:last-child {
    border-radius: 0 5px 5px 0;
}

.navbar {
    border: 1px solid black;
    border-width:1px 0;
    height: 60px;
}

.text-field {
    padding: .5rem;
}